<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login Admin</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="login-container">
        <h1>Área do Administrador</h1>

        {% if erro %}
            <p class="erro">{{ erro }}</p>
        {% endif %}

        <form method="post">
            <input type="text" name="usuario" placeholder="Usuário" required>
            <input type="password" name="senha" placeholder="Senha" required>

            <button type="submit">Entrar</button>
        </form>
    </div>

</body>
</html>
